__pycache__/
*.py[cod]
*$py.class
env/
venv/
*.env
*.log
db.sqlite3
media/
staticfiles/
celerybeat-schedule
local_settings.py
node_modules/
*.egg-info/
.idea/
.vscode/
.DS_Store
migrations/
.coverage
.pytest_cache/
